In [48]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [43]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [44]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [47]:
# Combine the data into a single dataset.  
complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete = complete.head(21)
complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635

In [19]:
# total number of unique schools
unique = complete["school_name"].unique()
unique

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [53]:
# total students
total_students = complete["size"].sum()
total

82932329558

In [54]:
# total budget
total_budget= complete["budget"].sum()
total

82932329558

In [102]:
#average math score
average_math = student_data["math_score"].mean()
average_math

78.98537145774827

In [101]:
# average reading score
average_reading = student_data["reading_score"].mean()
average_reading

81.87784018381414

In [104]:
# % passing math (the percentage of students who passed math)
pass_math = student_data["math_score"]
pass_math = student_data["math_score"]>=70
pass_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [105]:
# * % passing reading (the percentage of students who passed reading)
pass_reading = student_data["reading_score"]
pass_reading = student_data["reading_score"]>=70
pass_reading

0        False
1         True
2         True
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: reading_score, Length: 39170, dtype: bool

In [100]:
# % overall passing (the percentage of students who passed math AND reading)
overall_pass = student_data[(pass_math) & (pass_reading)]
overall_pass

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [ ]:
#Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

#Save the results in a DataFrame called "top_schools".

In [ ]:
#Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
#Save the results in a DataFrame called "bottom_schools".

In [52]:
#Perform the necessary calculations to create a DataFrame that lists the average math score
# for students of each grade level (9th, 10th, 11th, 12th) at each school.
math_grade = {
    'grade': [""], 
    'math_score': [""]}
df = pd.DataFrame(math_grade)
df

  grade math_score
0